<a href="{{ .RelPermalink }}" rel="bookmark" title="Permalink to {{ .Title }}">
  <div class="bg-white dark:bg-zinc-800 p-4 md:p-6 mb-4 rounded-lg">
    <header class="font-semibold text-2xl mb-2">
      <h1>{{ .Title }}</h1>
    </header>
    <div class="max-w-7xl container mx-auto my-4 justify-center overflow-hidden mb-2 text-sm text-zinc-800 dark:text-zinc-400 prose lg:max-w-none prose-headings:text-zinc-800 prose-headings:dark:text-zinc-300 prose-h1:text-3xl prose-headings:font-semibold prose-pre:bg-zinc-200 prose-pre:text-zinc-800 dark:prose-pre:bg-zinc-800 dark:prose-pre:text-zinc-200 prose-blockquote:text-zinc-800 dark:prose-blockquote:text-zinc-200 prose-a:text-gray-500 dark:prose-a:text-gray-400 dark:prose-strong:text-zinc-200 dark:prose-code:text-zinc-200 dark:prose-code:bg-zinc-800 prose-code:bg-zinc-200 prose-code:font-light prose-img:rounded-md">
      {{ .Summary }}
    </div>
    <div class="flex text-xs text-zinc-800 dark:text-zinc-400">
      <time>{{ .Date | time.Format "2006-01-02" }}</time>
    </div>
  </div>
</a>
