{{- $posts := where site.RegularPages "Section" "posts" -}}
{{- $updated := site.Home.Lastmod | default (index $posts 0).Date -}}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ site.Language.Lang }}">
  <title>{{ site.Title }}</title>
  <subtitle>{{ site.Params.description }}</subtitle>
  <id>{{ site.BaseURL }}</id>
  <link href="{{ site.BaseURL }}" rel="alternate" />
  <link href="{{ "feeds/all.atom.xml" | absURL }}" rel="self" />
  <updated>{{ $updated.Format "2006-01-02T15:04:05Z07:00" }}</updated>
  <author>
    <name>{{ site.Params.author }}</name>
  </author>
  {{- range first 20 $posts }}
  <entry>
    <title>{{ .Title }}</title>
    <link href="{{ .Permalink }}" />
    <id>{{ .Permalink }}</id>
    <published>{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}</published>
    <updated>{{ (.Lastmod | default .Date).Format "2006-01-02T15:04:05Z07:00" }}</updated>
    <author>
      <name>{{ site.Params.author }}</name>
    </author>
    <summary type="html">{{ with .Params.summary }}{{ . | htmlEscape }}{{ else }}{{ .Summary | plainify | htmlEscape }}{{ end }}</summary>
    <content type="html">{{ .Content | htmlEscape }}</content>
  </entry>
  {{- end }}
</feed>
