<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
{{ partial "head.html" . }}
<body class="min-h-screen flex flex-col max-w-7xl lg:max-w-none text-zinc-800 bg-neutral-100 dark:bg-neutral-900 dark:text-zinc-300 container mx-auto justify-center md:px-3">
  <script>
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
    } else {
      document.documentElement.classList.remove('dark');
    }
  </script>
  {{ partial "nav.html" . }}
  <div class="flex-grow md:max-w-screen-md md:mx-auto md:w-3/4 px-4">
    {{ block "main" . }}{{ end }}
  </div>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  {{ partial "theme-toggle-script.html" . }}
</body>
</html>
